*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e1e3e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }